{% form_theme form 'form/form_errors.html.twig' %}

{% macro printEducationRow(education) %}
      <div class="col-xs-12">
        <div class="item-block">
          <div class="item-form">

            <button class="btn btn-danger btn-float btn-remove">
              <i class="ti-close"></i>
            </button>

            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                  {{form_widget(education.image)}}
                  <span class="help-block">Définir une image de profil</span>
                </div>
              </div>

              <div class="col-xs-12 col-sm-8">
                <div class="form-group">
                  {{form_widget(education.degree)}}
                </div>

                <div class="form-group">
                  {{form_widget(education.speciality)}}
                </div>

                <div class="form-group">
                  {{form_widget(education.schoolName)}}
                </div>

                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">Date de début</span>
                    {{form_widget(education.dateFrom)}}
                    <span class="input-group-addon">Date de fin</span>
                    {{form_widget(education.dateTo)}}
                  </div>
                </div>

              </div>
                
            </div>
          </div>
        </div>
      </div>
{% endmacro %}

{% macro printSkillRow(skill) %}
        <div class="col-xs-12">
          <div class="item-block">
            <div class="item-form">

              <button class="btn btn-danger btn-float btn-remove">
                <i class="ti-close"></i>
              </button>

              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                      {{form_widget(skill.title)}}
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6">

                  <div class="form-group">
                    <div class="input-group">
                        {{form_widget(skill.percentage)}}
                      <span class="input-group-addon">%</span>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
{% endmacro %}

{{ form_start(form) }}

<header class="page-header" style="background-image: url({{ asset('assets/img/bg-banner1.jpg') }}); background-color: rgba(0,24,40,.55);">
  <div class="container page-name">
    <h1 class="text-center">{{ form_title }}</h1>
    <p class="lead text-center">{{ form_desc }}</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="form-group">
          {{form_widget(form.image)}}
          <span class="help-block">Définir une image de profil</span>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8">
        <div class="form-group">
          {% if not form.lastName.vars.valid %}
            <div class="has-error">
              {{form_widget(form.lastName)}}
            </div>
          {% else %}
            {{form_widget(form.lastName)}}
          {% endif %}
          {{ form_errors(form.lastName) }}
        </div>
        <div class="form-group">
          {% if not form.firstName.vars.valid %}
            <div class="has-error">
              {{form_widget(form.firstName)}}
            </div>
          {% else %}
            {{form_widget(form.firstName)}}
          {% endif %}
          {{ form_errors(form.firstName) }}
        </div>

        {% if is_granted('ROLE_ADMIN') %}
        <div class="form-group">
          {{form_widget(form.section)}}
        </div>
        {% else %}
        <div class="form-group">
          {{form_widget(form.description)}}
        </div>
        {% endif %}

        <div class="input-group input-group-sm">
              <span class="input-group-addon">
                <i class="fa fa-phone"></i>
              </span>
              {% if not form.phoneNumber.vars.valid %}
                <div class="has-error">
                  {{form_widget(form.phoneNumber)}}
                </div>
              {% else %}
                {{form_widget(form.phoneNumber)}}
              {% endif %}
              {{ form_errors(form.phoneNumber) }}
        </div>

        <hr class="hr-lg">

        <h6>Basic information</h6>
        <div class="row">

          <div class="form-group col-xs-12 col-sm-6">
            <div class="input-group input-group-sm">
              <span class="input-group-addon">
                <i class="fa fa-map-marker"></i>
              </span>
              {{form_widget(form.location)}}
            </div>
          </div>

          <div class="form-group col-xs-12 col-sm-6">
            <div class="input-group input-group-sm">
              <span class="input-group-addon">
                <i class="fa fa-globe"></i>
              </span>
              {{form_widget(form.website)}}
            </div>
          </div>

          <div class="form-group col-xs-12 col-sm-6">
            <div class="input-group input-group-sm">
              <span class="input-group-addon">
                <i class="fa fa-birthday-cake"></i>
              </span>
              {% if not form.age.vars.valid %}
                <div class="has-error">
                  {{form_widget(form.age)}}
                </div>
              {% else %}
                {{form_widget(form.age)}}
              {% endif %}
              {{ form_errors(form.age) }}
              <span class="input-group-addon">Years old</span>
            </div>
          </div>
          <div class="form-group col-xs-8 col-sm-6">
            <div class="input-group input-group-sm">
              <span class="input-group-addon">
                <i class="fa fa-envelope"></i>
              </span>
              {% if not form.email.vars.valid %}
                <div class="has-error">
                  {{form_widget(form.email)}}
                </div>
              {% else %}
                {{form_widget(form.email)}}
              {% endif %}
              {{ form_errors(form.email) }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="button-group">
          <div class="action-buttons">
            <div class="upload-button">
              <button class="btn btn-block btn-primary">Choose a cover image</button>
              {{form_widget(form.coverImage)}}
            </div>
          </div>
        </div>
  </div>
</header>
<main>
  <!-- Social media -->
  {% if is_granted('ROLE_STUDENT') %}
  <section>
    <div class="container">

      <header class="section-header">
        <span>Restez connectés</span>
        <h2>Médias sociaux</h2>
      </header>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-linkedin"></i>
              </span>
              {{form_widget(form.linkedin)}}
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-twitter"></i>
              </span>
              {{form_widget(form.twitter)}}
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-github"></i>
              </span>
              {{form_widget(form.github)}}
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- Social media -->

  <!-- Education -->
  <section class=" bg-alt">
    <div class="container">

      <header class="section-header">
        <span>Derniers diplômes</span>
        <h2>Mes diplômes</h2>
      </header>

      <div class="row">
        <div class="educations" data-prototype="{{ _self.printEducationRow(form.educations.vars.prototype)|e('html_attr')}}">

        <div class="result-educations">
          {% for education in form.educations %}
            {{ _self.printEducationRow(education) }}
          {% endfor %}
        </div>
          
        <div class="col-xs-12 text-center btn-add-education">
          <br>
          <button class="btn btn-primary btn-add-education">Ajouter un diplôme</button>
        </div>
      </div>
    </div>
  </section>
  <!-- END Education -->

  <!-- Work Experience -->
  <section>
    <div class="container">
      <header class="section-header">
        <span>Past positions</span>
        <h2>Work Experience</h2>
      </header>

      <div class="row">

        <div class="col-xs-12">
          <div class="item-block">
            <div class="item-form">

              <button class="btn btn-danger btn-float btn-remove">
                <i class="ti-close"></i>
              </button>

              <div class="row">
                <div class="col-xs-12 col-sm-4">
                  <div class="form-group">
                    <input type="file" class="dropify" data-default-file="assets/img/logo-default.png">
                    <span class="help-block">Please choose a square logo</span>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-8">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Company name">
                  </div>

                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Position, e.g. UI/UX Researcher">
                  </div>

                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon">Date from</span>
                      <input type="text" class="form-control" placeholder="e.g. 2012">
                      <span class="input-group-addon">Date to</span>
                      <input type="text" class="form-control" placeholder="e.g. 2016">
                    </div>
                  </div>

                </div>

                <div class="col-xs-12">
                  <div class="form-group">
                    <textarea class="summernote-editor"></textarea>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-xs-12 duplicateable-content">
          <div class="item-block">
            <div class="item-form">

              <button class="btn btn-danger btn-float btn-remove">
                <i class="ti-close"></i>
              </button>

              <div class="row">
                <div class="col-xs-12 col-sm-4">
                  <div class="form-group">
                    <input type="file" class="dropify" data-default-file="assets/img/logo-default.png">
                    <span class="help-block">Please choose a square logo</span>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-8">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Company name">
                  </div>

                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Position, e.g. UI/UX Researcher">
                  </div>

                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon">Date from</span>
                      <input type="text" class="form-control" placeholder="e.g. 2012">
                      <span class="input-group-addon">Date to</span>
                      <input type="text" class="form-control" placeholder="e.g. 2016">
                    </div>
                  </div>

                </div>

                <div class="col-xs-12">
                  <div class="form-group">
                    <textarea class="summernote-editor"></textarea>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-xs-12 text-center">
          <br>
          <button class="btn btn-primary btn-duplicator">Add experience</button>
        </div>

      </div>

    </div>
  </section>
  <!-- END Work Experience -->

  <!-- Skills -->
  <section class=" bg-alt">
    <div class="container">
      <header class="section-header">
        <span>Expertise Area</span>
        <h2>Mes qualifications</h2>
      </header>

      <div class="row">

      <div class="skills" data-prototype="{{ _self.printSkillRow(form.skills.vars.prototype)|e('html_attr')}}" >

        <div class="result-skills">
          {% for skill in form.skills %}
            {{ _self.printSkillRow(skill) }}
          {% endfor %}
        </div>


        <div class="col-xs-12 text-center btn-add-skill">
          <br>
          <button class="btn btn-primary btn-add-skill">Ajouter qualification</button>
        </div>
		
      </div>

    </div>
  </section>
  <!-- END Skills -->
  {% endif %}
  <!-- Submit -->
  <section class=" bg-img" style="background-image: url(assets/img/bg-facts.jpg);">
    <div class="container">
      <header class="section-header">
        <span>Vous avez terminé?</span>
        <h2>Soumettre</h2>
        <p>Veuillez revoir vos informations une fois de plus et appuyer sur le bouton ci-dessous pour soumettre votre formulaire.</p>
      </header>

      <p class="text-center">
        {{ form_widget(form.submit, { 'label': 'Valider' }) }}
      </p>
      <a href="{{ path('student_index') }}" class="btn btn-primary"> <<< backtolist </a>
	  </div>
	</section>
  <!--ENDSubmit-->
</main>
<!--ENDMaincontainer-->

{{ form_row(form._token) }}

{{ form_end(form, {'render_rest': false}) }}
