{% extends 'base.html.twig' %}

{% block title %}Liste des étudiants
{% endblock %}

{% block body %}
	<!-- Page header -->
	<header class="page-header bg-img" style="background-image: url(assets/img/bg-banner1.jpg);">
		<div class="container page-name">
			{% if app.user %}
				<h1 class="text-center">Liste des alternants :</h1>
				<p class="lead text-center">Filtrer la recherche :</p>
			{% else %}
				<h1 class="lead text-center">Veuillez vous connecter pour accéder à cette liste.</h1>
			{% endif %}
		</div>
		{% if app.user %}
			<div class="container">
				<form action="#">

					<div class="row">
						<div class="form-group col-xs-12 col-sm-4">
							<input type="text" class="form-control" placeholder="Nom de l'apprenant" name="keyword" value={{ parameters.keyword }}>
						</div>

						<div class="form-group col-xs-12 col-sm-4">
							<select class="form-control selectpicker" name="location">
								<option selected>Toutes les communes</option>
									{% for city in cities %}
										{% if parameters.location == city.name %}
											<option selected>{{ city.name }}</option>
										{% else %}
											<option>{{ city.name }}</option>
										{% endif %}
									{% endfor %}
							</select>
						</div>

						<div class="form-group col-xs-12 col-sm-4">
							<select class="form-control selectpicker" name="section">
								<option selected>Toutes les sections</option>
									{% for section in sections %}
										{% if parameters.section == section.name %}
											<option selected>{{ section.name }}</option>
										{% else %}
											<option>{{ section.name }}</option>
										{% endif %}
									{% endfor %}
							</select>
						</div>
					</div>

					<div class="button-group">
						<div class="action-buttons">
							<button class="btn btn-primary">Filtrer</button>
						</div>
					</div>

				</form>

			</div>
		{% endif %}
	</header>
	<!-- END Page header -->

	{% if app.user %}
		<!-- Main container -->
		<main>
			<section class="no-padding-top bg-alt">
				<div class="container">
					<div class="row">

						<div class="col-xs-12">
							<br>
							<h5>
								<strong>{{students|length}}</strong>
								résultats trouvés.
							</h5>
						</div>

						<!-- Resume detail -->
						{% for student in students %}
							<div class="col-xs-12">
								<a class="item-block" href="{{student.id}}">
									<header>
										<img class="resume-avatar" src="assets/img/avatar.jpg" alt="">
										<div class="hgroup">
											<h4>{{student.firstname}}
												{{student.lastname}}</h4>
											<h5>
												{{student.age}}
												ans
											</h5>
										</div>
									</header>

									<div class="item-body">
										<p>{{student.description}}</p>

										<div class="tag-list">
											<span>HTML5</span>
											<span>CSS3</span>
											<span>Bootstrap</span>
											<span>Wordpress</span>
										</div>

									</div>

								<footer>
									<ul class="details cols-3">
										<li>
											<i class="fa fa-certificate"></i>
											<span>
												{% if student.section %}
													{{student.section.name}}
												{% else %}
													Problème dans la BDD
												{% endif %}
											</span>
										</li>

										<li>
											<i class="fa fa-map-marker"></i>
											<span>{{student.location}}</span>
										</li>
									</ul>
								</footer>
							</a>
							<a href="{{ asset('uploads/images/' ~ student.image) }}">Photo de profil</a>
						</div>
					{% endfor %}
					<!-- END Resume detail -->
					<!-- Page navigation -->
					<nav class="text-center">
						<ul class="pagination">
							<li>
								<a href="#" aria-label="Previous">
									<i class="ti-angle-left"></i>
								</a>
							</li>
							<li>
								<a href="#">1</a>
							</li>
							<li class="active">
								<a href="#">2</a>
							</li>
							<li>
								<a href="#">3</a>
							</li>
							<li>
								<a href="#">4</a>
							</li>
							<li>
								<a href="#" aria-label="Next">
									<i class="ti-angle-right"></i>
								</a>
							</li>
						</ul>
					</nav>
					<!-- END Page navigation -->
				</div>
			</section>
		</main>
		<!-- END Main container -->
		{% endif %}
	{% endblock %}
