{% extends 'base.html.twig' %}

{% block title %}Offre
{% endblock %}

{% block body %}

	<!-- Page header -->
	<header class="page-header bg-img size-lg" style="background-image: url(assets/img/bg-banner2.jpg)">
		<div class="container">
			<div class="header-detail">
				<img class="logo" src="assets/img/logo-google.jpg" alt="">
				<div class="hgroup">
					<h1>{{ offer.title }}</h1>
					<h3>
						<a href="#">{{ offer.businesses.name }}</a>
					</h3>
				</div>
				<time datetime="2016-03-03 20:00"></time>
				<hr>
				<p class="lead">{{ offer.minDescription }}</p>

				<ul class="details cols-3">
					<li>
						<i class="fa fa-map-marker"></i>
						<span>{{ offer.location }}</span>
					</li>

					<li>
						<i class="fa fa-clock-o"></i>
						<span>{{ offer.hoursWeek }}
							h / semaine</span>
					</li>


					<li>
						<i class="fa fa-certificate"></i>
						<a href="#">{{ offer.sections.name }}</a>
					</li>
				</ul>

				<div class="button-group">
					<ul class="social-icons">
						<li class="title">Share on</li>
						<li>
							<a class="facebook" href="#">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a class="twitter" href="#">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a class="linkedin" href="#">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
					</ul>

					<div class="action-buttons">
						<a class="btn btn-success" href="javascript:;">Répondre à l'offre</a>
					</div>
				</div>

			</div>
		</div>
	</header>
	<!-- END Page header -->


	<!-- Main container -->
	<main>

		<!-- Job detail -->
		<section>
			<div class="container">

				{{ offer.description|raw }}

			</div>
		</section>
		<!-- END Job detail -->

	</main>
	<!-- END Main container -->

{% endblock %}
