{% extends 'base.html.twig' %}

{% block body %}
	<!-- Page header -->
	<header class="page-header bg-img" style="background-image: url({{ asset('assets/img/bg-banner1.jpg') }})">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<img src="assets/img/avatar.jpg" alt="">
				</div>
				<div class="col-xs-12 col-sm-8 header-detail">
					<div class="hgroup">
						<h1>{{student.firstname}}
							{{student.lastname}}</h1>
						<h3>{{student.section.name}}</h3>
					</div>
					<hr>
					<p class="lead">{{student.description}}</p>
					<ul class="details cols-2">
						<li>
							<i class="fa fa-map-marker"></i>
							<span>{{student.location}}</span>
						</li>
						<li>
							<i class="fa fa-globe"></i>
							<a href="#">
								{% if student.website %}
									{{student.website}}
								{% else %}
									Pas de site internet
								{% endif %}
							</a>
						</li>
						<li>
							<i class="fa fa-birthday-cake"></i>
							<span>{{student.age}}</span>
						</li>
						<li>
							<i class="fa fa-phone"></i>
							<span>{{student.phonenumber}}</span>
						</li>
						<li>
							<i class="fa fa-envelope"></i>
							<a href="#">{{student.email}}</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="button-group">
				<ul class="social-icons">
					<li>
						<a class="twitter" href="#">
							<i class="fa fa-twitter"></i>
						</a>
					</li>
					<li>
						<a class="linkedin" href="#">
							<i class="fa fa-linkedin"></i>
						</a>
					</li>
				</ul>
				<div
					class="action-buttons">
					{# <a class="btn btn-gray" href="#">Télécharger le CV</a>
										<a class="btn btn-success" data-toggle="modal" data-target="#modal-contact" href="#">Contacter</a> #}
					{% if is_granted('ROLE_ADMIN') %}
						<a data-student-id="{{student.id}}" id='sms-send' class="btn btn-primary">Inviter</a>
					{% endif %}
				</div>
			</div>
		</div>
	</header>
	<!-- END Page header -->
	<!-- Main container -->
	<main>
		<!-- Education -->
		<section>
			<div class="container">
				<header
					class="section-header">
					{# <span>Derniers diplômes obtenus</span> #}
					<h2>Diplômes</h2>
				</header>
				{% for education in educations %}
					<div class="row">
						<div class="col-xs-12">
							<div class="item-block">
								<header>
									{# <img src="{{ asset('assets/img/logo-mit.png') }}" alt=""> #}
									<div class="hgroup">
										<h4>{{education.degree}}
											<small>{{education.speciality}}</small>
										</h4>
										<h5>{{education.schoolname}}</h5>
									</div>
									<h6 class="time">{{education.datefrom|date('Y')}}
										-
										{{education.dateto|date('Y')}}</h6>
								</header>
								{# <div class="item-body">
									<p>Pas de colonne correspondante dans la BDD (educations->description ???).</p>
								</div> #}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</section>
		<!-- END Education -->

		<!-- Work Experience -->
		<section class="bg-alt">
			<div class="container">
				<header
					class="section-header">
					{# <span>Dernières expériences acquises</span> #}
					<h2>Expérience professionnelle</h2>
				</header>

				<div
					class="row">

					<!-- Work item -->
					{% for experience in experiences %}
						<div class="col-xs-12">
							<div class="item-block">
								<header>
									{# <img src="assets/img/logo-google.jpg" alt=""> #}
									<div class="hgroup">
										<h4>{{experience.title}}</h4>
										<h5>{{experience.post}}</h5>
									</div>
									<h6 class="time">{{experience.datefrom|date('Y')}}
										-
										{{experience.dateto|date('Y')}}</h6>
								</header>
								<div class="item-body">
									<p>{{experience.description}}</p>
								</div>
							</div>
						</div>
					{% endfor %}
					<!-- END Work item -->
				</div>
			</div>
		</section>
		<!-- END Work Experience -->

		<!-- Skills -->
		<section>
			<div class="container">
				<header class="section-header">
					{# <span>Expertise Areas (??)</span> #}
					<h2>Compétences</h2>
				</header>
				<br>
				<ul class="skills cols-3">
					{% for skill in student.skills %}
						<li>
							<div>
								<span class="skill-name">{{skill.title}}</span>
								<span class="skill-value">{{skill.percentage}}%</span>
							</div>
							<div class="progress">
								<div class="progress-bar" style="width: {{skill.percentage}}%;"></div>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>
		<!-- END Skills -->
	</main>
	<!-- END Main container -->
	{% if is_granted('ROLE_ADMIN') %}
		{{ include('students/_delete_form.html.twig') }}
	{% endif %}
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/js/invitation.js') }}"></script>
{% endblock %}
