{% extends 'base.html.twig' %}

{% block title %}Offers index{% endblock %}

{% block body %}
    <h1>Offers index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdOffers</th>
                <th>Title</th>
                <th>MinDescription</th>
                <th>Site</th>
                <th>Location</th>
                <th>HoursWeek</th>
                <th>Description</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offer in offers %}
            <tr>
                <td>{{ offer.idOffers }}</td>
                <td>{{ offer.title }}</td>
                <td>{{ offer.minDescription }}</td>
                <td>{{ offer.site }}</td>
                <td>{{ offer.location }}</td>
                <td>{{ offer.hoursWeek }}</td>
                <td>{{ offer.description }}</td>
                <td>{{ offer.statut ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('offers_show', {'idOffers': offer.idOffers}) }}">show</a>
                    <a href="{{ path('offers_edit', {'idOffers': offer.idOffers}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('offers_new') }}">Create new</a>
{% endblock %}
