{% extends 'base.html.twig' %}

{% block title %}Offers index
{% endblock %}

{% block body %}
	<header class="page-header bg-img size-lg" style="background-image: url({{ asset('assets/img/bg-banner1.jpg') }})">
		<div class="container no-shadow">
			<h1 class="text-center">Gestion des offres d'emplois</h1>
			<p class="lead text-center">
            Voici la liste de vos offres d'emplois.</br>
            C'est ici que vous pouvez modifier vos annoces, en supprimer ou encore en ajouter de nouvelles.
            </p>
		</div>
	</header>
	<main>
		<section class="no-padding-top bg-alt">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-right">
                        <h5>{{offers|length}} résultats trouvés.</h5>
                    	<a href="{{ path('offers_new') }}" class="btn btn-primary btn-sm">Ajouter une offre d'emplois</a>
					</div>
					<!-- Job detail -->
          {% for offer in offers %}
              <div class="col-xs-12">
                  <div class="item-block">
                      <header>
                          {% if offer.businesses %}
                              <a href="{{ path('businesses_show', {'id': offer.businesses.id}) }}"><img src="{{ asset('assets/img/logo-google.jpg') }}" alt=""></a>
                          {% else %}
                              <img src="{{ asset('assets/img/logo-google.jpg') }}" alt="">
                          {% endif %}
                          <div class="hgroup">
                              <h4>
                                  <a href="{{ path('offers_show', {'id': offer.id}) }}">{{ offer.title }}</a>
                              </h4>
                              <h5>
                              {% if offer.businesses %}
                                  <a href="{{ path('businesses_show', {'id': offer.businesses.id}) }}">{{ offer.businesses.name }}</a>
                              {% else %}
                                  attente BDD
                              {% endif %}
                              </h5>
                          </div>
                          <div class="header-meta">
                              <span class="location">{{ offer.location }}</span>
                              {% if offer.publishDate %}
                                  <time>Publié le {{ offer.publishDate|date("d/m/Y") }}</time>
                              {% else %}
                                  attente BDD
                              {% endif %}
                          </div>
                      </header>

                      <footer>
                          <p class="status">
                              <strong>Status:</strong>
                              {{ offer.statut ? 'En cours' : 'En attente de validation' }}</p>

                          <div class="action-btn">
                              <a class="btn btn-xs btn-gray" href="{{ path('offers_edit', {'id': offer.id}) }}">Modifier</a>
                              <div class="offer-del">{{ include('offers/_delete_form.html.twig') }}</div>
                          </div>
                      </footer>
                  </div>
              </div>
          {% else %}
              Il n'y a aucune offre d'emploi disponible.
          {% endfor %}
				</div>
			</div>
		</section>
	</main>
{% endblock %}
