{% extends 'base.html.twig' %}

{% block title %}Liste des offres
{% endblock %}

{% block body %}
	<header class="page-header bg-img size-lg" style="background-image: url({{ asset('assets/img/bg-banner1.jpg') }})">
		<div class="container no-shadow">
			<h1 class="text-center">Liste des offres d'emploi disponibles</h1>
			<p class="lead text-center">
				Ajouter du texte ici ?
			</p>
		</div>
	</header>
	<main>
		<section class="no-padding-top bg-alt">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-right">
						<h5>{{offers|length}}
							offres trouvées.</h5>
						{% if is_granted('ROLE_ENTREPRISE') %}
							<a href="{{ path('offer_new') }}" class="btn btn-primary btn-sm">Déposer une offre</a>
						{% endif %}
					</div>
					{# Job detail #}
					{% for offer in offers %}
						<div class="col-xs-12">
							<div class="item-block">
								<header>
									{% if offer.business.image %}
										<a href="{{ path('business_show', {'id': offer.business.id}) }}"><img src="{{ asset('uploads/images/' ~ offer.business.image) }}" alt=""></a>
									{% else %}
										<img src="{{ asset('assets/img/logo-google.jpg') }}" alt="">
									{% endif %}
									<div class="hgroup">
										<h4>
											<a href="{{ path('offer_show', {'id': offer.id}) }}">{{ offer.title }}</a>
										</h4>
										<h5>
											<a href="{{ path('business_show', {'id': offer.business.id}) }}">{{ offer.business.name }}</a>
										</h5>
									</div>
									<div class="header-meta">
										<span class="location">{{ offer.location }}</span>
										{% if offer.publishDate %}
											<time>Publié le
												{{ offer.publishDate|date("d/m/Y") }}</time>
										{% else %}
											attente BDD
										{% endif %}
									</div>
								</header>
								{% if (app.user.id == offer.business.id or is_granted('ROLE_ADMIN')) %}
									<footer>
										<div class="action-btn">
											<a class="btn btn-xs btn-gray" href="{{ path('offer_edit', {'id': offer.id}) }}">Modifier</a>
											<div class="delete-btn">{{ include('offers/_delete_form.html.twig') }}</div>
										</div>
									</footer>
								{% endif %}
							</div>
						</div>
					{% else %}
						Il n'y a aucune offre d'emploi disponible.
					{% endfor %}
					{# End job detail #}
				</div>
			</div>
		</section>
	</main>
{% endblock %}
