{% extends 'base.html.twig' %}

{% block body %}
	<!-- Page header -->
	<header class="page-header bg-img size-lg" style="background-image: url(assets/img/bg-banner2.jpg)">
		<div class="container">
			<div class="header-detail">
				<img class="logo" src="assets/img/logo-google.jpg" alt="">
				<div class="hgroup">
					<h1>{{offer.title}}</h1>
					<h3>
						<a href="#">{{offer.business.name}}</a>
					</h3>
				</div>
				<time>{{offer.publishdate|date("d/m/Y")}}</time>
				<hr>
				<p class="lead">{{offer.description}}</p>
				<ul class="details cols-3">
					<li>
						<i class="fa fa-map-marker"></i>
						<span>{{offer.location}}</span>
					</li>
					<li>
						<i class="fa fa-briefcase"></i>
						<span>{{offer.publishdate|date("d/m/Y")}}</span>
					</li>
					<li>
						<i class="fa fa-certificate"></i>
						<a href="#">{{offer.section.name}}</a>
					</li>
				</ul>
				<div class="button-group">
					<div class="action-buttons">
						{% if (is_granted('ROLE_ADMIN')) %}
							<a class="btn btn-xs btn-gray" href="{{ path('offer_edit', {'id': offer.id}) }}">Modifier</a>
							<div class="delete-btn">{{ include('offers/_delete_form.html.twig') }}</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- END Page header -->
{% endblock %}
