      <div class="container">

        <!-- Logo -->
        <div class="pull-left">
          <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>

          <div class="logo-wrapper">
            <a class="logo" href="{{ path("home") }}"><img src="https://www.cfa.cci.nc/themes/custom/cci/src/img/logo-cci-color-header.png {# {{ asset('assets/img/logo.png') }} #}" alt="logo"></a>
            <a class="logo-alt" href="{{ path("home") }}"><img src="https://www.cfa.cci.nc/themes/custom/cci/src/img/logo-cci-color-header.png {# {{ asset('assets/img/logo-alt.png') }} #}" alt="logo-alt"></a>
          </div>

        </div>
        <!-- END Logo -->

        <!-- User account -->
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="pull-right user-login">
          <a class="btn btn-sm btn-primary" href="{{ path("app_logout") }}">se déconnecter</a>
        </div>
        {% else %}
        <div class="pull-right user-login">
          <a class="btn btn-sm btn-primary" href="{{ path("app_login") }}">Se connecter</a>
        </div>
        {% endif %}
        <!-- END User account -->
        {% if is_granted('ROLE_APPRENANT') %}
        <!-- Navigation menu -->
        <ul class="nav-menu">
          <li>
            <a href="javascript:;">Les Entreprises</a>
            <ul>
              <li><a href="resume-list.html">lien de sous-menu</a></li>
              <li><a href="resume-detail.html">lien de sous-menu</a></li>
              <li><a href="resume-add.html">lien de sous-menu</a></li>
              <li><a href="resume-manage.html">lien de sous-menu</a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:;">Offres d'emploi</a>
            <ul>
              <li><a href="company-list.html">lien de sous-menu</a></li>
              <li><a href="company-detail.html">lien de sous-menu</a></li>
              <li><a href="company-add.html">lien de sous-menu</a></li>
              <li><a href="company-manage.html">lien de sous-menu</a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:;">Mon profil</a>
            <ul>
              <li><a href="company-list.html">Créér mon CV</a></li>
              <li><a href="company-detail.html">lien de sous-menu</a></li>
              <li><a href="company-add.html">lien de sous-menu</a></li>
              <li><a href="company-manage.html">lien de sous-menu</a></li>
            </ul>
          </li>
        </ul>
        <!-- END Navigation menu -->
        {% endif %}
        {% if is_granted('ROLE_BUSINESSES') %}
        <!-- Navigation menu -->
        <ul class="nav-menu">
          <li>
            <a href="javascript:;">Les Apprenants</a>
            <ul>
              <li><a href="company-list.html">lien de sous-menu</a></li>
              <li><a href="company-detail.html">lien de sous-menu</a></li>
              <li><a href="company-add.html">lien de sous-menu</a></li>
              <li><a href="company-manage.html">lien de sous-menu</a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:;">Mes offres d'emploi</a>
            <ul>
              <li><a href="company-list.html">lien de sous-menu</a></li>
              <li><a href="company-detail.html">lien de sous-menu</a></li>
              <li><a href="company-add.html">lien de sous-menu</a></li>
              <li><a href="company-manage.html">lien de sous-menu</a></li>
            </ul>
          </li>
          <li>
            <a href="javascript:;">Mon Entreprise</a>
            <ul>
              <li><a href="company-list.html">lien de sous-menu</a></li>
              <li><a href="company-detail.html">lien de sous-menu</a></li>
              <li><a href="company-add.html">lien de sous-menu</a></li>
              <li><a href="company-manage.html">lien de sous-menu</a></li>
            </ul>
          </li>
        </ul>
        <!-- END Navigation menu -->
        {% endif %}

      </div>