{% extends 'base.html.twig' %}

{% block title %}Businesses index{% endblock %}

{% block body %}
    <!-- Page header -->
    <header class="page-header bg-img size-lg" style="background-image: url({{ asset('assets/img/bg-banner1.jpg') }})">
      <div class="container no-shadow">
        <h1 class="text-center">{{ meta_title }}</h1>
        <p class="lead text-center">{{ meta_desc }}</p>
      </div>
    </header>
    <!-- END Page header -->


    <!-- Main container -->
    <main>
      <section class="no-padding-top bg-alt">
        <div class="container">
          <div class="row item-blocks-condensed">

            <div class="col-xs-12 text-right">
              <h5>{{businesses|length}} entreprises trouvés.</h5>
              <a class="btn btn-primary btn-sm" href="{{ path('businesses_new') }}">Ajouter une nouvelle Entreprise</a>
              <br/><br/>
            </div>

            <!-- Company item -->
            {% for business in businesses %}
                <div class="col-xs-12">
                    <div class="item-block">
                        <header>
                        <a href="{{ path('businesses_show', {'id': business.id}) }}"><img src="{{ asset('assets/img/logo-google.jpg') }}" alt=""></a>
                        <div class="hgroup">
                            <h4><a href="{{ path('businesses_show', {'id': business.id}) }}">{{ business.name }}</a></h4>
                            <h5>{{ business.slogan }} <a href="{{ path('businesses_show', {'id': business.id}) }}"><span class="label label-info">{#{{ business.offers|length }}#} "en attente de BDD" offres d'emploi</span></a></h5>
                        </div>
                        <div class="action-btn">
                            <a class="btn btn-xs btn-gray" href="{{ path('businesses_edit', {'id': business.id}) }}">Modifer</a>
                            <div class="delete-btn">{{ include('businesses/_delete_form.html.twig') }}</div>
                        </div>
                        </header>
                    </div>
                </div>
            {% else %}
                Il n'y a aucune entreprise disponible.
            {% endfor %}
            <!-- END Company item -->

          </div>
        </div>
      </section>
    </main>
    <!-- END Main container -->
{% endblock %}
