{% extends 'base.html.twig' %}

{% block title %}Businesses{% endblock %}

{% block body %}

	<!-- Page header -->
	<header class="page-header view-profile-business" style="background-image: url({{ asset('assets/img/bg-banner1.jpg') }})">
		<div class="container">
			<div class="header-detail">
				<img class="logo" src="{{ asset('uploads/images/' ~ business.image) }}" alt="logo entreprise">
				<div class="hgroup">
					<h1>{{ business.name }}</h1>
					<h3>{{ business.slogan }}</h3>
				</div>
				<hr>

				<ul class="details cols-3">
					<li>
						<i class="fa fa-map-marker"></i>
						<span>{{ business.location }}</span>
					</li>

					<li>
						<i class="fa fa-globe"></i>
						<a href="{{ business.website }}">{{ business.website }}</a>
					</li>

					<li>
						<i class="fa fa-users"></i>
						<span>{{ business.nbEmployees }}</span>
					</li>

					<li>
						<i class="fa fa-birthday-cake"></i>
						<span>{{ business.dateFoundation ? business.dateFoundation|date('d-m-Y') : '' }}</span>
					</li>

					<li>
						<i class="fa fa-phone"></i>
						<span>{{ business.phoneNumber }}</span>
					</li>

					<li>
						<i class="fa fa-envelope"></i>
						<a href="mailto:{{ business.email }}">{{ business.email }}</a>
					</li>
				</ul>

				<div class="button-group">
					<ul class="social-icons">
						{% if business.facebook %}
						<li>
							<a class="facebook" href="{{ business.facebook }}">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						{% endif %}
						{% if business.twitter %}						
						<li>
							<a class="twitter" href="{{ business.twitter }}">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						{% endif %}
						{% if business.linkedin %}						
						<li>
							<a class="linkedin" href="{{ business.linkedin }}">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
						{% endif %}
						{% if business.youtube %}						
						<li>
							<a class="youtube" href="{{ business.youtube }}">
								<i class="fa fa-youtube"></i>
							</a>
						</li>
						{% endif %}
					</ul>

					<div class="action-buttons">
						{% if is_granted('ROLE_STUDENT') %}
							<a class="btn btn-success" href="mailto:{{ business.email }}">Contacter</a>
						{% endif %}
						{% if is_granted('ROLE_BUSINESS') %}
							<a class="btn btn-primary" href="{{ path('offer_new') }}">Ajouter une offre</a>
						{% endif %}
						{% if is_granted('ROLE_ADMIN') %}
							<a type="button" class="btn btn-primary" href="{{ path("business_edit", { 'id' : business.id }) }}">
								Modifier
							</a>
							<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal{{ business.id }}">
								Supprimer
							</button>
						{% endif %}
					</div>
				</div>

			</div>
		</div>
	</header>
	<!-- END Page header -->


	<!-- Main container -->
	<main>


		<!-- Company detail -->
		<section>
			<div class="container">

				<header class="section-header">
					<span>Sur l'entreprise</span>
					<h2>Description de l'entreprise</h2>
				</header>

				<p class="lead">{{ business.description }}</p>

			</div>
		</section>
		<!-- END Company detail -->


		<!-- Open positions -->
		<section id="open-positions" class="bg-alt">
			<div class="container">
				<header class="section-header">
					<span>Offres de l'entreprise</span>
					<h2>Offres ajoutées par l'entreprise</h2>
				</header>

				<div class="row">

					<!-- Job item -->
					{% for offer in offers %}
						<div class="col-xs-12">
							<a class="item-block" href="{{ path('offer_show', {'id': offer.id}) }}">
								<header>
									<img src="{{ asset('assets/img/logo-google.jpg') }}" alt="logo entreprise">
									<div class="hgroup">
										<h4>
											<td>{{ offer.title }}</td>
										</h4>
										<h5>{{ business.name }}
											<span class="label label-success">Full-time</span>
										</h5>
									</div>
									<time datetime="2016-03-10 20:00">{{ offer.hoursWeek }}</time>
								</header>

								<div class="item-body">
									<p>{{ offer.description }}</p>
								</div>

								<footer>
									<ul class="details cols-3">
										<li>
											<i class="fa fa-map-marker"></i>
											<span>{{ offer.location }}</span>
										</li>
										<li>
											<i class="fa fa-certificate"></i>
											<span>{{ offer.section.name }}</span>
										</li>
									</ul>
								</footer>
							</a>
						</div>
					{% endfor %}
					<!-- END Job item -->

				</div>

			</div>
		</section>
		<!-- END Open positions -->


	</main>
	<!-- END Main container -->
{% endblock %}

{% block modal %}
<!-- Modal -->
<div class="modal fade" id="modal{{ business.id }}" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Suppresion de l'offre : {{ business.name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        La suppresion d'une offre est définitive et ne peux pas être annuler.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Annuler</button>
		<div class="delete-btn">
			{{ include('businesses/_delete_form.html.twig') }}
		</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}